doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap", rel="stylesheet")
        link(rel="icon", href="img/mainlogo.svg", type="image/svg")
        link(rel="stylesheet", href="css/styles.css")
        title Misocial
    body 
        include components/mixin
        header 
            +menu(mainMenu, 'light')
            div
                p.header-text.one SOCIAL MARKETING & ANALYTICS
                h1 Pricing Table
                p.bottom-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                a.button(href="#andre")  
                    img(src="img/pointerdown.svg", alt="")   
        main#andre
            div
                p.header-text.two MIsocial
                h2 Select a Plan
                p.bottom-text.three Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            div.maincards
                +card(cardInfo.satelite)
                +card(cardInfo.mars)
                +card(cardInfo.rocket)
        footer 
            div.footerbottom
                p.header-text.fourth SOCAL MARKETING & ANALYTICS
                h2 Take control of your data
                div.butns
                    a.gav.gul(href="#") get started
                    a.gav.other(href="#") explore features
            div.menushk
                +menu(mainMenu, 'dark')
            hr 
            div.footer
                p © 2017 Mass Impressions & Tranmautritam. Make the right impression. 
                div.svgshki
                    a(href="#")
                        include components/facebook
                    a(href="#") 
                      include components/twitter
                    a(href="#") 
                      include components/gogle
                    a(href="#") 
                      include components/inst