=gradient($url)
    background: linear-gradient(-60deg,rgba(109, 211, 205,0.8 )0%, rgba(109, 69, 255,0.8) 100%), url(#{$url}) center/cover

=pugsass($enter)
    background: linear-gradient(-60deg,rgba(135, 211, 205, 0.7)0%, rgba(109, 69, 225, 0.7) 100%), url(#{$enter}) center/cover

=font-family($fonts)
    font-family: 'Maven Pro'

=btn($fixed: true, $empty: false)
    display: inline-block
    font-size: 12rem
    letter-spacing: 1rem
    padding: 16.5rem 0 16.5rem 0
    text-transform: uppercase
    color: #c2c9db
    font-weight: 700
    font-family: 'Maven Pro'
    text-align: center
    border-radius: 25rem
    @if $fixed 
        width: 190rem
        color: #c2c9db
        background-color: #fff
        filter: drop-shadow(0 0 10.5rem rgba(204,204,223,0.5))
        border: 1rem solid #d7dbe8
        &:hover
            color: #fff
            background-color: #6e45e2
            border-color: #31d2bd
        
    @else 
        width: 150rem
        background-color: rgba(110,69,226,0)
        border: 1rem solid #fff
    @if $empty != false
        background-color: #6e45e2
        border: 1rem solid #d7dbe8
        &:hover
            color: #fff
            background-color: #d7dbe8
            border-color: #31d2bd